{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'active_learning/style.css' %}" />

<div class="detail_page">

  <div class="header">
    <div class="title">
      <a href="{{article.url}}">{{ article.title }}</a>
    </div>

    <div class="keywords">
      <label for="keywords">Keywords</label>
      <span id="url">{{ article.keywords }}</span>
    </div>

    <div class="query">
      <label for="query">Google News query</label>
      <span id="query">{{ article.query }}</span>
    </div>

    <div class="date_accessed">
      <label for="date_accessed">Date Accessed</label>
      <span id="date_accessed">{{ article.date_accessed }}</span>
    </div>

    <div class="term_frequencies">
      <label>Term Count</label>
      <ul>
        <li>
          <label>Cyber Security</label>
          <span>{{ article.cyber_security_occurences }}</span>
        </li>
        <li>
          <label>Breach</label>
          <span>{{ article.breach_occurences }}</span>
        </li>
        <li>
          <label>IP</label>
          <span>{{ article.ip_occurences }}</span>
        </li>
        <li>
          <label>Hack</label>
          <span>{{ article.hack_occurences }}</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="text">
      <p id="text">{{ article.text }}</p>
  </div>
</div>
