{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'active_learning/style.css' %}" />

<div class="detail_page">

  <div class="header">
    <div class="title">
      <a href="{{article.url}}">{{ article.title }}</a>
    </div>

    <div class="keywords">
      <label for="keywords">Keywords</label>
      <span id="url">{{ article.nlp_keywords }}</span>
    </div>

    <div class="query">
      <label for="query">Google News query</label>
      <span id="query">{{ article.query }}</span>
    </div>

    <div class="date_accessed">
      <label for="date_accessed">Date Accessed</label>
      <span id="date_accessed">{{ article.date_accessed }}</span>
    </div>
  </div>

  <div class="buttons">
    <button type="button" id="yes" name="button">Yes</button>
    <button type="button" id="maybe" name="button">Maybe</button>
    <button type="button" id="no" name="button">No</button>
  </div>

  <div class="text">
      <p id="text">{{ article.text }}</p>
  </div>
</div>

<script type="text/javascript">
  function label(label){
    if (parent.channel != undefined && parent.idOfArticleToLabel != null) {
      sent = parent.channel.trigger('client-label', {article_id: 1, label: label})
      if (sent){
        parent.toLabel = null
      }
    } else {
      alert("can't do that right now")
    }
  }

  document.getElementsByClassName('buttons')[0].addEventListener('click', function(event){
    if (event.target.tagName === 'BUTTON'){
      label(event.target.id)
    }
  })
</script>
