{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'active_learning/server-output-window.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'active_learning/iframe.css' %}" />

<!-- Pusher stuff -->
<script src="https://js.pusher.com/3.2/pusher.min.js"></script>
<script type="text/javascript">
  function writeInIFrame(toPrint){
    document.getElementsByTagName('iframe')[0].contentWindow.document.write(toPrint)
  }

  function loadSpinnerScreen(){
    writeInIFrame('<style media="screen">/* loading CSS from http://tobiasahlin.com/spinkit/ */body{ background-color: #2196F3; display: flex; flex-flow: row wrap; justify-content: center; align-items: center;}.spinner { width: 5vw; height: 5vw; position: relative; margin: 100px auto;}.double-bounce1, .double-bounce2 { width: 100%; height: 100%; border-radius: 50%; background-color: #fff; opacity: 0.6; position: absolute; top: 0; left: 0; -webkit-animation: sk-bounce 2.0s infinite ease-in-out; animation: sk-bounce 2.0s infinite ease-in-out;}.double-bounce2 { -webkit-animation-delay: -1.0s; animation-delay: -1.0s;}@-webkit-keyframes sk-bounce { 0%, 100% { -webkit-transform: scale(0.0) } 50% { -webkit-transform: scale(1.0) }}@keyframes sk-bounce { 0%, 100% { transform: scale(0.0); -webkit-transform: scale(0.0); } 50% { transform: scale(1.0); -webkit-transform: scale(1.0); }}</style><div class="spinner"> <div class="double-bounce1"></div> <div class="double-bounce2"></div></div>')
  }
  window.loadSpinnerScreen = loadSpinnerScreen
</script>
<script type="text/javascript">
  function printToConsoleWindow(string){
    var window = document.getElementById('console-output')
    var div = document.createElement('div')
    div.append(string)
    window.append(div)
  }

  function presentLineChart(data, strategy, time){
    doc = document.getElementsByTagName('iframe')[0].contentWindow.document
    doc.body.innerHTML = ''
    doc.head.innerHTML = ''
    var toPrint = `\<div id='results'><h1>Active Learning Results\</h1>\<p>\<b>Strategy\</b>: ${strategy}\</p>\<p>\<b>Runtime\</b>: ${time} seconds\</p>\<script src=\"https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js\"><\/script>\<style media=\"screen\">#results{margin: 0 auto; min-width: 50vw;} #myChart{max-width: 1000px; max-height: 1000px;} body{font-family: sans-serif; display: flex;}<\/style><canvas id=\"myChart\"><\/canvas><script type=\"text/javascript\">var ctx=document.getElementById(\"myChart\");var myLineChart=new Chart(ctx,{type: \"line\", data: ${JSON.stringify(data)}, options:{scales:{xAxes: [{ticks:{autoSkip:true, maxTicksLimit:20}}]}}});<\/script>\</div>`
    writeInIFrame(toPrint)
  }

  // Enable pusher logging - don't include this in production
  Pusher.logToConsole = true;

  window.pusher = new Pusher('{{PUSHER_KEY}}', {
    encrypted: true
  });

  window.channel = pusher.subscribe('{{presence_channel_name}}');
  channel.bind('write-to-console-window', function(data) {
    printToConsoleWindow(data.message)
  });

  channel.bind('request_label', function(data){
    printToConsoleWindow("Please label this article\n" + JSON.stringify(data))
    window.idOfArticleToLabel = data.id
    document.getElementsByTagName('iframe')[0].src = data.url
  })

  channel.bind('model_scored', function(data){
    printToConsoleWindow(JSON.stringify(data))
  })

  channel.bind('show_accuracy_over_queries', function(data){
    strategy = data.strategy
    time = data.time.toFixed(2)
    data = {xLabels: data.labels, datasets: [{label: "Accuracy", data: data.scores, borderColor: '#E91E63', backgroundColor: 'rgba(233, 30, 99, 0.3)'}]}
    presentLineChart(data, strategy, time)
  })
</script>

<iframe src="{% url 'active_learning:index' %}"></iframe>

<div id="console-output-window" style="display: none;">
  <div id="console-output-header">
    Output
  </div>
  <div id="console-output">

  </div>
</div>
<div id="console-toggle-button" title="Open/Close output">
  &lt;/&gt;
</div>

<!-- Toggle visibility of the console window -->
<script type="text/javascript">
  document.getElementById('console-toggle-button').addEventListener('click', function(e) {
    var x = document.getElementById('console-output-window').style
    if (x.display == 'none' ) {
      x.display = ''
    } else {
      x.display = 'none'
    }
  })
</script>
