{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'active_learning/style.css' %}" />

<div class="index_page">
  <div class="header">
    <div class="title">
      Articles
    </div>
  </div>
  <div class="text">
    {% if datasets %}
      <div>
        <button type="button" id="start_learning">Learn</button>
        <br>
        <label for="link_colors">Relevant to <i>data breach</i></label>
        <span id="link_colors">
          <span class="yes-class">Yes</span> /
          <span class="no-class">No</span>
        </span>
      </div>
      {% for dataset in datasets %}
        <hr>
        <details>
          <summary>Dataset: {{dataset.name}}</summary>
          <p>
            <label for="{{dataset.name}}">Count</label>
            <span id="{{dataset.name}}">{{dataset.count}}</span>
          </p>
          <ul>
          {% for article in dataset.articles %}
            <li><a class="{{article.class_label.label}}-class" href="{% url 'active_learning:detail' article.id %}">{{ article.title }}</a></li>
          {% endfor %}
          </ul>
        </details>
      {% endfor %}
    {% else %}
        <p>No articles found.</p>
    {% endif %}
  </div>
</div>

<script type="text/javascript">
  function learn(dataset_id, auto_label){
    fetch(`/learn?dataset=${dataset_id}&auto_label=${auto_label}`)
  }

  document.getElementById('start_learning').addEventListener('click', function(e){
    auto_label = e.shiftKey
    dataset_id = prompt("Input '1' if you want to use the Bing dataset, or '2' if you want to use the four university dataset.", 1)
    if (dataset_id != null){
        this.disabled=true
        parent.loadSpinnerScreen()
        learn(dataset_id, auto_label)
    }
  })
</script>
