{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'active_learning/style.css' %}" />
<script src="{% static 'active_learning/fetch.js' %}"></script>

<div class="index_page">
  <div class="header">
    <div class="title">
      Articles
    </div>
  </div>
  <div class="text">
    {% if datasets %}
      <div>
        <button type="button" id="start_learning">Learn</button>
        <br>
        <label for="link_colors">Relevant to <i>positive class</i></label>
        <span id="link_colors">
          <span class="yes-class">Yes</span> /
          <span class="no-class">No</span>
        </span>
      </div>
      {% for dataset in datasets %}
        <hr>
        <details>
          <summary>Dataset: {{dataset.name}}</summary>
          <p>
            <label for="{{dataset.name}}">Count</label>
            <span id="{{dataset.name}}">{{dataset.count}}</span>
          </p>
          <ul>
          {% for article in dataset.articles %}
            <li><a class="{{article.class_label.label}}-class" href="{% url 'active_learning:detail' article.id %}">{{ article.title }}</a></li>
          {% endfor %}
          </ul>
        </details>
      {% endfor %}
    {% else %}
        <p>No articles found.</p>
    {% endif %}
  </div>
</div>

<script type="text/javascript">
  function learn(dataset_id, auto_label, num_queries){
    fetch(`/learn?dataset=${dataset_id}&auto_label=${auto_label}&private_channel_name=${parent.privateChannel.name}&num_queries=${num_queries}`)
  }

  document.getElementById('start_learning').addEventListener('click', function(e){
    auto_label = e.shiftKey
    prompt_num_queries = e.metaKey
    debugger
    datasets = [
      {%  for dataset in datasets %}
        {
          dataset_id: {{dataset.dataset_id}}, name: '{{dataset.name}}'
        },
      {% endfor %}
    ]
    text = 'Enter the ID of the dataset to use.\n\n' + datasets.map(function(dataset){return `\t${dataset.dataset_id}\t${dataset.name}\n`}).join('')
    dataset_id = prompt(text, datasets[0]['dataset_id'])
    num_queries = prompt_num_queries ? prompt('How many instances do you want to label?', 20): 20
    num_queries = num_queries == null ? 20 : num_queries
    if (dataset_id != null){
        this.disabled=true
        parent.loadSpinnerScreen()
        learn(dataset_id, auto_label, num_queries)
    }
  })
</script>
