{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'active_learning/style.css' %}" />

<div class="index_page">
  <div class="header">
    <div class="title">
      Articles
    </div>
  </div>
  <div class="text">
    <label for="link_colors">Legend</label>
    <span id="link_colors">
      <span class="cyber security">cyber security</span>,
      <span class="cyber">cyber</span>,
      <span class="security">security</span>,
      <span class="privacy">privacy</span>,
      <span class="trump">trump</span>,
      <span class="sport">sport</span>,
      <span class="health">health</span>
    </span>
    <hr>
    {% if articles %}
        <ul>
        {% for article in articles %}
          <li><a class="{{article.query}}" href="{% url 'active_learning:detail' article.id %}">{{ article.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No articles found.</p>
    {% endif %}
  </div>

</div>
