@media only screen and (min-width: 640px)  {
  body {
    width: 60%;
    margin: auto;
    padding-top: 15px;
  }
}

body {
  background: #fafafa;
  font-family: roboto, sans-serif;
}

a, a:visited {
  color: blue;
}

.index_page, .detail_page {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  width: 100%;

  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.index_page .header, .detail_page .header {
  background-color: #2196f3;
  color: #fff;
  padding: 2rem;
}

.detail_page .header .title {
  margin-bottom: 2rem;
}

.header .title, .header .title a {
  color: #fff;
  text-decoration: none;
  font-weight: bolder;
  font-size: 2rem;
}

.keywords, .query {
  margin-bottom: 1rem;
}

label {
  font-weight: bold;
}

label:after {
  content: ':'
}

.index_page .text, .detail_page .text {
  line-height: 2;
  padding: 2rem;
}

.index_page .text ul {
  padding: 0;
  margin: 0;
}

.index_page .text li {
  list-style: none;
}

/* Article class */
.cyber.security, .cyber.security:visited {color: #E91E63;}
.trump, .trump:visited {color:#009688;}
.security, .security:visited {color:#3F51B5;}
.privacy, .privacy:visited {color:#9C27B0;}
.cyber, .cyber:visited {color:#795548;}
.health, .health:visited {color:#4CAF50;}
.sport, .sport:visited {color:#FF9800;}
