@media only screen and (min-width: 640px)  {
  body {
    width: 60%;
    margin: auto;
    padding-top: 15px;
  }
}

body {
  background: #fafafa;
  font-family: roboto, sans-serif;
}

a, a:visited {
  color: blue;
}

.index_page, .detail_page {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  width: 100%;

  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.index_page .header, .detail_page .header {
  background-color: #3F51B5;
  color: #fff;
  padding: 2rem;
}

.detail_page .header {
  padding-bottom: 3rem;
}

.detail_page .header .title {
  margin-bottom: 2rem;
}

.header .title, .header .title a {
  color: #fff;
  text-decoration: none;
  font-weight: bolder;
  font-size: 2rem;
}

.keywords, .query, .date_accessed {
  margin-bottom: 1rem;
}

.term_frequencies ul {
  margin: 0.5rem 0 0 0;
}

label {
  font-weight: bold;
}

label:after {
  content: ':'
}

.index_page .text, .detail_page .text {
  line-height: 2;
  padding: 2rem;
}

.detail_page .text {
  white-space: pre-line;
}

.index_page .text ul {
  padding: 0;
  margin: 0;
}

.index_page .text li {
  list-style: none;
}

/* Article class */
.cyber.security, .cyber.security:visited {color: #E91E63;}
.trump, .trump:visited {color:#009688;}
.security, .security:visited {color:#2196F3;}
.privacy, .privacy:visited {color:#9C27B0;}
.cyber, .cyber:visited {color:#795548;}
.health, .health:visited {color:#4CAF50;}
.sport, .sport:visited {color:#FF9800;}

.buttons {
  margin-left: 2rem;
  height: 0;
}

.buttons button {
  border-radius: 5px;
  border: none;
  background: #E91E63;
  color: white;
  font-size: 1.1rem;
  top: -1.1rem;
  position: relative;
  margin: 0rem 0.2rem;
  padding: 0.4rem 0.9rem;
  text-transform: uppercase;
  outline: none;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  cursor: pointer;
  font-weight: 500;
}

.buttons button:focus {
  outline: none;
}

.buttons button:active {
  box-shadow: 0 0 8px rgba(0,0,0,.18),0 8px 16px rgba(0,0,0,.36);
}
